In [3]:
import pandas as pd
import csv, sqlite3

In [6]:
conn = sqlite3.connect('factbook.db')

q = 'SELECT * FROM sqlite_master WHERE type="table";'
pd.read_sql_query(q, conn)

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,facts,facts,47,"CREATE TABLE ""facts"" (""id"" INTEGER PRIMARY KEY..."

In [7]:
first_query = """
SELECT *
FROM facts
LIMIT 5
"""
results = conn.execute(first_query).fetchall()

for row in results:
    print(row)

(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51)
(2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3)
(3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92)
(4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0)
(5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)

In [15]:
second_query = """
SELECT MIN(population)
FROM facts
"""
results = conn.execute(second_query).fetchall()

for row in results:
    print(row)

(0,)

In [10]:
third_query = """
SELECT MAX(population)
FROM facts
"""
results = conn.execute(third_query).fetchall()

for row in results:
    print(row)

(7256490011,)

In [14]:
fourth_query = """
SELECT MIN(population_growth)
FROM facts
"""
results = conn.execute(fourth_query).fetchall()

for row in results:
    print(row)

(0.0,)

In [13]:
fourth_query = """
SELECT MAX(population_growth)
FROM facts
"""
results = conn.execute(fourth_query).fetchall()

for row in results:
    print(row)

(4.02,)

In [19]:
fifth_query = """
SELECT Name, MAX(population) 
FROM facts
"""
results = conn.execute(fifth_query).fetchall()

for row in results:
    print(row)

('World', 7256490011)

In [21]:
sixth_query = """
SELECT Name, MIN(population) 
FROM facts
"""
results = conn.execute(sixth_query).fetchall()

for row in results:
    print(row)

('Antarctica', 0)

In [42]:
seventh_query = """
SELECT Population, population_growth, birth_rate, death_rate
From facts
Where population != (SELECT MAX(population) from facts)
AND population != (SELECT MIN(population) from facts)
"""
results = conn.execute(seventh_query).fetchall()

for row in results:
    print(row)

(32564342, 2.32, 38.57, 13.89)
(3029278, 0.3, 12.92, 6.58)
(39542166, 1.84, 23.67, 4.31)
(85580, 0.12, 8.13, 6.96)
(19625353, 2.78, 38.78, 11.49)
(92436, 1.24, 15.85, 5.69)
(43431886, 0.93, 16.64, 7.33)
(3056382, 0.15, 13.61, 9.34)
(22751014, 1.07, 12.15, 7.14)
(8665550, 0.55, 9.41, 9.42)
(9780780, 0.96, 16.64, 7.07)
(324597, 0.85, 15.5, 7.05)
(1346613, 2.41, 13.66, 2.69)
(168957745, 1.6, 21.14, 5.61)
(290604, 0.31, 11.87, 8.44)
(9589689, 0.2, 10.7, 13.36)
(11323973, 0.76, 11.41, 9.63)
(347369, 1.87, 24.68, 5.97)
(10448647, 2.78, 36.02, 8.21)
(741919, 1.11, 17.78, 6.69)
(10800882, 1.56, 22.76, 6.52)
(3867055, 0.13, 8.87, 9.75)
(2182719, 1.21, 20.96, 13.39)
(204259812, 0.77, 14.46, 6.58)
(429646, 1.62, 17.32, 3.52)
(7186893, 0.58, 8.92, 14.44)
(18931686, 3.03, 42.03, 11.72)
(56320206, 1.01, 18.39, 7.96)
(10742276, 3.28, 42.01, 9.27)
(15708756, 1.58, 23.83, 7.68)
(23739218, 2.59, 36.17, 10.11)
(35099836, 0.75, 10.28, 8.42)
(545993, 1.36, 20.33, 6.11)
(5391539, 2.13, 35.08, 13.8)
(11631456, 1.89, 36.6, 14.28)
(17508260, 0.82, 13.83, 6.0)
(1367485388, 0.45, 12.49, 7.53)
(46736728, 1.04, 16.47, 5.4)
(780971, 1.77, 27.84, 7.57)
(79375136, 2.45, 34.88, 10.07)
(4755097, 2.0, 35.85, 10.0)
(4814144, 1.22, 15.91, 4.55)
(23295302, 1.91, 28.67, 9.55)
(4464844, 0.13, 9.45, 12.18)
(11031433, 0.15, 9.9, 7.72)
(1189197, 1.43, 11.41, 6.62)
(10644842, 0.16, 9.63, 10.34)
(5581503, 0.22, 10.27, 10.25)
(828324, 2.2, 23.65, 7.73)
(73607, 0.21, 15.41, 7.91)
(10478756, 1.23, 18.73, 4.55)
(15868396, 1.35, 18.51, 5.06)
(88487396, 1.79, 22.9, 4.77)
(6141350, 0.25, 16.46, 5.69)
(740743, 2.51, 33.31, 8.19)
(6527689, 2.25, 30.0, 7.52)
(1265420, 0.55, 10.51, 12.4)
(99465819, 2.89, 37.27, 8.19)
(909389, 0.67, 19.43, 6.04)
(5476922, 0.4, 10.72, 9.83)
(66553766, 0.43, 12.38, 9.16)
(1705336, 1.93, 34.49, 13.12)
(1967709, 2.16, 30.86, 7.15)
(4931226, 0.08, 12.74, 10.82)
(80854408, 0.17, 8.47, 11.42)
(26327649, 2.18, 31.09, 7.22)
(10775643, 0.01, 8.66, 11.09)
(110694, 0.48, 16.03, 8.08)
(14918999, 1.82, 24.89, 4.77)
(11780162, 2.63, 35.74, 9.46)
(1726170, 1.91, 33.38, 14.33)
(735222, 0.02, 15.59, 7.32)
(10110019, 1.17, 22.31, 7.83)
(8746673, 1.68, 23.14, 5.17)
(9897541, 0.22, 9.16, 12.73)
(331918, 1.21, 13.91, 6.28)
(1251695584, 1.22, 19.55, 7.32)
(255993674, 0.92, 16.72, 6.37)
(81824270, 1.2, 17.99, 5.94)
(37056169, 2.93, 31.45, 3.77)
(4892305, 1.25, 14.84, 6.48)
(8049314, 1.56, 18.48, 5.15)
(61855120, 0.27, 8.74, 10.19)
(2950210, 0.68, 18.16, 6.7)
(126919659, 0.16, 7.93, 9.51)
(8117564, 0.83, 25.37, 3.79)
(18157122, 1.14, 19.15, 8.21)
(45925301, 1.93, 26.4, 6.89)
(105711, 1.15, 21.46, 7.12)
(24983205, 0.53, 14.52, 9.21)
(49115196, 0.14, 8.19, 6.75)
(1870981, None, None, None)
(2788534, 1.62, 19.91, 2.18)
(5664939, 1.11, 22.98, 6.65)
(6911544, 1.55, 24.25, 7.63)
(1986705, 1.06, 10.0, 14.31)
(6184701, 0.86, 14.59, 4.88)
(1947701, 0.32, 25.47, 14.89)
(4195666, 2.47, 34.41, 9.69)
(6411776, 2.23, 18.03, 3.58)
(37624, 0.84, 10.45, 7.12)
(2884433, 1.04, 10.1, 14.27)
(570252, 2.13, 11.37, 7.24)
(2096015, 0.2, 11.55, 9.08)
(23812681, 2.58, 32.61, 6.81)
(17964697, 3.32, 41.56, 8.41)
(30513848, 1.44, 19.71, 5.03)
(393253, 0.08, 15.75, 3.89)
(16955536, 2.98, 44.99, 12.89)
(413965, 0.31, 10.18, 9.09)
(72191, 1.66, 25.6, 4.21)
(3596702, 2.23, 31.34, 8.2)
(1339827, 0.64, 13.29, 6.91)
(121736809, 1.18, 18.78, 5.26)
(105216, 0.46, 20.54, 4.23)
(3546847, 1.03, 12.0, 12.59)
(30535, 0.12, 6.65, 9.24)
(2992908, 1.31, 20.25, 6.35)
(647073, 0.42, 10.42, 9.43)
(33322699, 1.0, 18.2, 4.81)
(25303113, 2.45, 38.58, 12.1)
(2212307, 0.59, 19.8, 13.91)
(9540, 0.55, 24.95, 5.87)
(31551305, 1.79, 20.64, 6.56)
(16947904, 0.41, 10.83, 8.66)
(4438393, 0.82, 13.33, 7.36)
(5907881, 1.0, 18.03, 5.08)
(18045729, 3.25, 45.45, 12.42)
(181562056, 2.45, 37.64, 12.9)
(5207689, 1.13, 12.14, 8.12)
(3286936, 2.07, 24.44, 3.36)
(199085847, 1.46, 22.58, 6.49)
(21265, 0.38, 11.05, 7.99)
(3657024, 1.32, 18.32, 4.81)
(6672429, 1.78, 24.38, 6.53)
(6783272, 1.16, 16.37, 4.68)
(30444999, 0.97, 18.28, 6.01)
(100998376, 1.61, 24.27, 6.11)
(38562189, 0.09, 9.74, 10.19)
(10825309, 0.09, 9.27, 11.02)
(2194817, 3.07, 9.84, 1.53)
(21666350, 0.3, 9.14, 11.9)
(142423773, 0.04, 11.6, 13.69)
(12661733, 2.56, 33.75, 8.96)
(51936, 0.76, 13.5, 7.09)
(163922, 0.34, 13.7, 7.42)
(102627, 0.28, 13.57, 7.18)
(197773, 0.58, 20.87, 5.32)
(33020, 0.82, 8.63, 8.45)
(194006, 1.84, 34.23, 7.24)
(27752316, 1.46, 18.51, 3.33)
(13975834, 2.45, 34.52, 8.46)
(7176794, 0.46, 9.08, 13.66)
(92430, 0.83, 14.19, 6.89)
(5879098, 2.35, 37.03, 10.81)
(5674472, 1.89, 8.27, 3.43)
(5445027, 0.02, 9.91, 9.74)
(1983412, 0.26, 8.42, 11.37)
(622469, 2.02, 25.77, 3.85)
(10616380, 1.83, 40.45, 13.62)
(53675563, 1.33, 20.75, 9.91)
(12042910, 4.02, 36.91, 8.18)
(48146134, 0.89, 9.64, 9.04)
(22053488, 0.84, 15.85, 6.11)
(36108853, 1.72, 29.19, 7.66)
(579633, 1.08, 16.34, 6.13)
(1435613, 1.11, 24.67, 13.56)
(9801616, 0.8, 11.99, 9.4)
(8121830, 0.71, 10.5, 8.13)
(17064854, 0.16, 22.17, 4.0)
(8191958, 1.71, 24.38, 6.18)
(51045882, 2.79, 36.39, 8.0)
(67976405, 0.34, 11.19, 7.8)
(1231116, 2.42, 34.16, 6.1)
(7552318, 2.69, 34.13, 7.26)
(106501, 0.03, 23.0, 4.85)
(1222363, 0.13, 13.46, 8.56)
(11037225, 0.89, 16.64, 5.98)
(79414269, 1.26, 16.33, 5.88)
(5231422, 1.14, 19.4, 6.13)
(10869, 0.82, 23.74, 8.74)
(37101745, 3.24, 43.79, 10.69)
(44429471, 0.6, 10.72, 14.46)
(5779760, 2.58, 15.43, 1.97)
(64088222, 0.54, 12.17, 9.35)
(321368864, 0.78, 12.49, 8.15)
(3341893, 0.27, 13.07, 9.45)
(29199942, 0.93, 17.0, 5.3)
(272264, 1.95, 25.04, 4.09)
(842, 0.0, None, None)
(29275460, 1.39, 19.16, 5.31)
(94348835, 0.97, 15.96, 5.93)
(26737317, 2.47, 29.98, 6.28)
(15066266, 2.88, 42.13, 12.67)
(14229541, 2.21, 32.26, 10.13)
(23415126, 0.23, 8.47, 7.11)
(513949445, 0.25, 10.2, 10.2)
(1530, 1.11, None, None)
(596, 0.0, None, None)
(2210, 0.01, None, None)
(7141106, 0.38, 9.23, 7.07)
(592731, 0.8, 8.88, 4.22)
(50196, 0.51, 13.77, 8.71)
(57733, 0.0, 14.48, 8.49)
(282703, 0.94, 15.22, 5.02)
(271615, 1.38, 15.33, 5.52)
(7237, None, None, None)
(31754, None, None, None)
(5657, 1.08, 7.42, 9.72)
(15613, 0.33, 13.45, 5.06)
(112162, 1.33, 12.56, 8.18)
(148406, 0.43, 13.8, 8.2)
(39689, 1.51, 13.0, 4.51)
(9838, 2.95, 14.33, 8.03)
(1190, 0.03, None, None)
(1337, 0.01, None, None)
(1872, 0.03, None, None)
(15700, None, None, None)
(16418, 2.03, 12.67, 4.57)
(70196, 0.5, 11.33, 8.23)
(33454, 2.32, 10.91, 4.99)
(56092, 2.1, 12.11, 5.53)
(15700, None, None, None)
(3361, 0.01, 10.9, 4.9)
(29258, 0.24, 14.08, 8.37)
(66080, 0.34, 9.84, 8.78)
(97294, 0.8, 11.91, 7.68)
(87545, 0.76, 11.1, 10.06)
(5241, 0.5, 11.26, 6.3)
(48, 0.0, None, None)
(7795, 0.24, 9.88, 7.44)
(50280, 2.3, 16.13, 3.1)
(54343, 0.3, 22.89, 4.75)
(161785, 0.54, 16.82, 5.12)
(52344, 2.18, 18.32, 3.71)
(3598357, 0.6, 10.86, 8.67)
(103574, 0.59, 10.31, 8.54)
(1869055, 2.81, 31.11, 3.04)
(2785366, 1.95, 22.99, 3.5)
(570866, 2.82, 30.24, 8.34)

In [ ]:
results= results.fillna(0).astype(int)

In [39]:
%matplotlib inline

In [ ]:
pd.DataFrame.hist(results)

In [45]:
eighth_query = """
SELECT Name, MAX((CAST(Population as float) / CAST(AREA as float)))
From facts
"""
results = conn.execute(eighth_query).fetchall()

for row in results:
    print(row)

('Macau', 21168.964285714286)

In [46]:
nineth_query = """
SELECT Name, MAX((CAST(Area_water as float) / CAST(AREA as float)))
From facts
"""
results = conn.execute(nineth_query).fetchall()

for row in results:
    print(row)

('British Indian Ocean Territory', 0.9988970588235294)

In [49]:
tenth_query = """
SELECT Name, (CAST(Area_water as float) / CAST(AREA as float)) as Water
From facts
WHERE water > 0.5
"""
results = conn.execute(tenth_query).fetchall()

for row in results:
    print(row)

('British Indian Ocean Territory', 0.9988970588235294)
('Virgin Islands', 0.818848167539267)